
.mainContainer {
  margin: 2em;
  header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px 20px;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
  h1 {
    font-size: 60px;
    color: #40434E;
  }
  header:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-image: url("../assets/melbourne.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    h1{
      font-size: 65px;
      color: white;
      z-index: 5;
    }
}
  .errorContainer {
    margin-top: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 500px);
  margin: 100px;
  margin-top: 150px;
  #contactSubmit{
    font-size: 18px;
    font-weight: bolder;
    line-height: 2;
    text-align: center;
  }
}



