.eventContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  h4 {
    margin-bottom: 0px;
  }
}

.eventCard {
  margin-bottom: 5px;
}

.Footer {
  position: fixed;
  margin-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px 100px;
}

