.eventContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // width: 100%;
  margin: 2rem;
  
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px 20px;
    height: 200px;
    border-bottom: #53C948 2px solid;
    h1 {
      font-size: 50px;
      color: #40434E;
      margin-top: 0px;
    }
    h2 {
      font-size: 30px;
      font-weight: lighter;
      color: #40434E;
      margin: 0px;
    }
  }
 
  .eventBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    .outerContainer {
      width: 100%;
      height: 100%;
    }
      .extraContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc( 100vw - 100px);
        height: calc( 100% - 100px);
        .extraContent {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 50%;
          height: 100%;
        }
      }
    .innerContainer {
      width: calc( 100vw - 100px);
      height: calc( 100% - 100px);
      display: flex;
      .insideContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        h2 {
          font-size: 40px;
        }
        .presenterBox {
          border-radius: 15px;
          margin: 10px;
          border: 1px black solid;
          min-width: 1000px;
          display: flex;
          justify-content: space-between;
          padding: 5px 20px;
          #profileImg {
            border-radius: 50px;
            height: 80px;
          }
        }
      }
      
      .description {
        padding: 0px 50px;
        width: 50%;
        height: 100%;
        display: grid;
        grid-template-rows: 0.2fr 0.6fr 0.2fr;
        .endContainer {
          text-align: center;
          font-size: 38px;
          margin: auto 0px;
          #dateContainer{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            h2 {
              margin: 0px;
            }
          }
          h1 {
            font-size: 40px
          }
          #button {
            box-shadow: 0px 10px 11px -1px rgba(168,168,168,0.48);
            margin-bottom: 10px;
          }
        }
        .mainContainer {
          margin-left: 20px;
          p {
            font-size: 20px;
            letter-spacing: 2px;
          }
        }
      }

      #about {
        width: 100%;
        p {
          text-align: center;
          font-size: 28px;
          letter-spacing: 2px;
        }
      }
      .eventImage{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
     
    }
  }

  h4 {
    margin-bottom: 0px;
  }
}

.eventCard {
  margin-bottom: 5px;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: #53C948 2px solid;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  h3 {
    margin: 0px;
    font-size: 30px;
  }
  .FooterDate {
    font-size: 18px;
  }
  .FooterButton {
    display: flex;
    align-items: center;
    p {
      margin: 0px;
      margin-right: 20px;
      font-size: 20px;
    }
  }
}

.extraEventsBox {
  width: 100%;
  height: 500px;
  margin-bottom: 100px;
}

